.book-btn {
    text-decoration: none;
    margin-right: 20px;
}

.book-btn-txt {
    border: 5px solid #000000;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    color: #000000;
}
.book-btn-txt:hover{
    background: #000000;
    border: 5px solid #000000;
    color: #FFFFFF;
    transition: all 0.3s;
}
@media (max-width:930px) {
    .book-btn-txt{
        font-size: 24px
    }
}
@media (max-width:665px) {
    .book-btn{
        margin-top: 20px;
        display: block;
    }
}
@media (max-width:492px) {
    .book-btn-txt{
        font-size: 16px
    }
}



.submit-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 5px 10px;
    color: #ffffff;
    background-color: black;
}
.submit-button:hover{
    color: black;
    background-color: #FFC627;
    transition: all 0.3s;
    border: 2px solid #FFC627;
}

.heading {
    padding-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
}

.contact-head {
    color: #FFFFFF;
}

.about-head {
    color: #FFFFFF;

}

.book-a-meet {
    background: #FFC627;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    text-decoration: none;
    padding: 10px;
}
.copyright{
    font-size: 10px;
    padding-top: 30px;padding-bottom: 5px;
    color: rgb(40, 40, 40);
}
.copyright a{
    color: rgb(40, 40, 40);;
}
@media (max-width:1100px) {
    .copyright{
        padding-bottom: 60px;
    }
}
.line{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 5%;
    width: 90%;
    height: 1px;
    background-color: #FFFFFF;
}