body {
    background-color: black;
}

.Home {
    overflow: hidden;
}

.home-bg-img {
    min-height: 650px;
    position: absolute;
    z-index: -1;
    width: 99.8%;
    overflow: hidden;
}

.header {
    padding: 15px;
    height: 60px;
    width: 800px;
    background: #000000;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 40px 0px;
}

.header-text {
    margin: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    text-decoration: none;
    color: #FFFFFF;
}

.social-logo {
    text-decoration: none;
    color: #000000;
    margin: 20px;
    width: 40px;
    height: 40px;
}

.logo-info {
    position: absolute;
    right: 20px;
    margin-top: -70px;
}

.logo {
    width: 250px;
}

@media (max-width:1100px) {
    .header {
        width: 100%;
        text-align: center;
        position: fixed;
        z-index: 100;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 40px 40px 0px 0px;
    }
    .header-text {
        color: #ffffff;
    }
    .logo-info {
        margin-top: 10px;
    }
}

@media (max-width:775px) {
    .header-text {
        margin: 20px 10px;
        font-size: 24px;
    }
}
@media (max-width:550px) {
    .header-text {
        font-size: 18px;
    }
}

@media (max-width:440px) {
    .header-text {
        margin: 20px 5px;
        font-size: 14px;
    }
}



.home-content {
    margin-top: 50px;
}

.homepage-animation {
    width: 500px;
    position: absolute;
}

.home-content-info {
    left: 50%;
    margin-top: 150px;
    position: absolute;
}

.home-content-info .dec {
    margin-right: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #59595B;
}

.hc-main {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
    color: #000000;
}

.btn-infor {
    margin-top: 30px;
}

.trusted-by {
    align-items: center;
    text-align: center;
    margin-top: 650px;
    height: 300px;
}

@media (max-width: 1175px) {
    .homepage-animation {
        width: 400px;
    }

    .home-content-info {
        left: 40%;
    }

    .trusted-by {
        margin-top: 600px;
    }
}

@media (max-width:930px) {
    .logo {
        width: 200px;
    }

    .social-logo {
        width: 30px;
        height: 30px;
    }

    .home-content-info .dec {
        font-size: 18px;
    }

    .hc-main {
        font-size: 36px;
    }

    .home-content-info {
        left: 45%;
    }

    .home-bg-img {
        top: -35px;
    }

    .trusted-by {
        margin-top: 550px;
    }

}

@media (max-width:860px) {
    .homepage-animation {
        left: 100px;
        top: 100px;
        width: 350px;
    }

    .home-content-info {
        border-radius: 10px;
        padding: 30px;
        background: rgba(200, 200, 200, 0.7);
        backdrop-filter: blur(2px);
        position: relative;
        left: 0;
        margin-top: 150px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .trusted-by {
        margin-top: 150px;
    }
}

@media (max-width:665px) {
    .trusted-by {
        margin-top: 100px;
    }
}
@media (max-width:630px) {
    .home-content-info .dec {
        font-size: 12px;
        line-height: 10px;
    }

    .hc-main {
        line-height: 35px;
        font-size: 32px;
    }
    .trusted-by {
        margin-top: 150px;
    }
}
@media (max-width:570px) {
    .logo{
        width: 180px;
        margin-top: 0;
    }
    .social-logo{
        width: 20px;
        height: 20px;
    }
}
@media (max-width:492px) {
    .home-content-info {
        margin-left: 4%;
        margin-right: 4%;
    }
    .btn-infor{
        margin-top: 0;
    }
    .hc-main {
        line-height: 35px;
        font-size: 24px;
    }
    .homepage-animation{
        top: 130px;
        width: 250px;
        left: 10%;
    }
    .trusted-by {
        margin-top: 200px;
    }
}




.trusted-head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.trusted-by-body {
    margin-top: 50px;
}

.swiper {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.trusted-img {
    width: 150px;
    border-radius: 160px;
}

.trusted-logo {
    margin-top: 20px;
    height: 100px;
}

@media (max-width:655px) {
    .trusted-img {
        width: 100px;
        border-radius: 160px;
    }

    .trusted-logo {
        margin-top: 20px;
        height: 60px;
    }
}

@media (max-width:435px) {
    .trusted-img {
        width: 90px;
        border-radius: 160px;
    }

    .trusted-logo {
        margin-top: 20px;
        height: 50px;
    }
}

/* Footer Section */
.footer {
    background: #DADADA;
    align-items: center;
    text-align: center;
}

.footer-logo {
    margin: 30px;
    width: 200px;
}

.basic-info {
    margin-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #494949;
}

.footer-header-info {
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.footer-header-info div a {
    padding: 10px;
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    border-radius: 5px;
}

.footer-header-info div {
    padding: 5px;
    margin: 10px;
}

.footer-header-info a:hover {
    font-size: 30px;
    background-color: #000000;
    color: white;
    transition: all 0.3s;
}

.footer-about-details {
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
}

.mail-logo,
.location-logo {
    margin: 10px;
    width: 30px;
    height: 30px;
}

.mail-detail {
    margin-top: 50px;
}

.social-media-logo {
    width: 30px;
    height: 30px;
}

.social-media-details {
    margin-top: 20px;
}

.social-media-details a {
    color: #000000;
    margin-left: 30px;
    text-decoration: none;
}

.social-media-details- {
    margin-left: -30px;
    margin-top: -10px;
}

.social-media-details- a {
    color: #000000;
    margin-left: 30px;
    text-decoration: none;
}

@media (max-width: 930px) {
    .footer-about-details {
        margin-left: 5px;
        font-size: 16px;
    }

    .mail-logo,
    .location-logo {
        margin: 10px;
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 540px) {
    .footer-2 {
        margin-left: -60px;
    }
}

@media (max-width:500px) {
    .footer-2 {
        margin-left: 20px;
    }
}

/* Contact Us */
.Contact-Us {
    text-align: center;
}

.contact-form-input {
    margin: 20px 5px;
    width: 300px;
    height: 60px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 20px 10px 0px 10px;
}

.number {
    margin: 20px;
}

.contact-form .contact-form-input input {
    outline: none;
    width: 270px;
    border: none;
    border-bottom: 2px solid black;
    background-color: rgba(255, 255, 255, 0);

}

.contact-us-animation {
    width: 500px;
    height: 500px;
}

.contact-form {
    margin-left: -100px;
}

.contact-message {
    margin: 20px 5px;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 20px 10px 0px 10px;
}

.contact-message textarea {
    outline: none;
    width: 100%;
    height: 200px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.submit-button-d {
    margin: 20px 5px 50px 5px;
}



@media (max-width:1212px) {
    .contact-form-input {
        margin: 20px auto;
    }
}

@media (max-width:1172px) {
    .contact-message {
        margin: 20px auto;
    }

    .contact-message {
        max-width: 300px;
    }
}

@media (max-width: 765px) {
    .contact-form {
        margin-left: 10px;
    }

    .contact-message {
        max-width: 500px;
    }

}

@media (max-width:640px) {
    .contact-us-animation {
        width: 300px;
        height: 300px;
    }

    .contact-message {
        max-width: 300px;
    }
}

@media (max-width:430px) {
    .contact-us-animation-tab {
        display: none;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.fade-in{
    border-radius: 10px;
    padding: 10px 20px;
    right: 10px;
    top: 50px;
    z-index: 100;
    font-size: 30px;
    background-color: green;
    position: fixed;
    color: white;
}
.msg_sent{
    color: #000000;
}
.fade-out{
    display: none;
}

/* Services */

.services {
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
}

.services-animation {
    width: 400px;
    height: 400px;
}

.services-card {
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    display: flex;
    width: 300px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.services-img {
    width: 80px;
}

@media (max-width:630px) {
    .services-animation-tab {
        display: none;
    }
}

@media (max-width:600px) {
    .services-img {
        width: 50px;
    }

    .services-card {
        width: 200px;
    }
}

/* About-Us */
.about {
    margin-top: -60px;
    background: radial-gradient(40.74% 130.33% at 16.59% 50%, #9e9e9e 0%, #dddddd 100%);
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;

}

.about-animation {

    width: 450px;
    border-radius: 10px;
    border: 5px solid #000000;
}

.about-animation-tab {
    margin-top: 30px;
}

.about-content {
    padding-top: 80px;
    color: white;
}

.about-content div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    margin: 10px auto;
    margin-bottom: 50px;
}

.about-content {
    margin-right: -100px;
}

@media (max-width:750px) {
    .about-animation-tab {
        display: none;
    }
}

/* Work_Sample */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --primary: #1d04ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}
.Work{
    background: radial-gradient(40.74% 130.33% at 16.59% 50%, #9e9e9e 0%, #dddddd 100%);
}

.Work .container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.Work .swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.Work .swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
    .Work .swiper_container {
    height: 47rem;
  }
  .Work .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .Work .swiper-slide .wide {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.Work .swiper-slide .wide {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.Work .swiper-slide-shadow-left,
.Work .swiper-slide-shadow-right {
  display: none;
}

.Work .slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Work .slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
    .Work .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
    .Work .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
    .Work .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
    .Work .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.Work .slider-controler .slider-arrow {
  background-color: black;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.Work .slider-controler .slider-arrow svg {
  font-size: 2rem;
  color: #ffffff;
}

.Work .slider-controler .slider-arrow::after {
  content: '';
}

.Work .swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
  
}

.Work .swiper-pagination .swiper-pagination-bullet {
    background-color: rgb(0, 0, 0);
  filter: drop-shadow(0px 8px 24px rgb(255, 255, 255));
}

.Work .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
 
.horizontal{
    margin-top: 100px;
    max-width: 100%;
    max-height: 100%;
}
  
  
/* Tetsimonial */


.testimonials {
    text-align: center;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.testimonials .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonials .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 200px;
}

.testimonials .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

  